# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- Give some examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. JAVA
4. C++

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

|Data Science Tools| 
|----|
|Jupyter Notebook|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Dongxiao HAN